.title {
  font-weight: bold;
}
.wrapperEmptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50%;
  .emptyCartImg {
    display: inherit;
    justify-content: center;
  }
  h4 {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }
  p {
    margin-top: 0px;
    text-align: center;
  }
}
.cartItems {
  .total {
    position: absolute;
    margin-top: 40px;
    h5 {
      margin-top: 0;
      margin-bottom: 5px;
    }
    button {
      margin: 30px 0;
      cursor: pointer;
      height: 40px;
      width: 350px;
      background-color: #07bc0c;
      border: none;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;
      color: white;
      &:hover {
        background-color: rgb(239, 239, 2);
        color: black;
      }
    }
    .cartQuantity {
      display: flex;
      justify-content: space-between;
    }
    .cartTotal {
      display: flex;
      justify-content: space-between;
    }
  }
}
